.App {
  font-family: sans-serif;
  text-align: center;
}

.suspended-menu {
  background-image: linear-gradient(
    0deg,
    #080911 0%,
    #222b2c 30%,
    #363946 40%,
    #272931 60%,
    #05031d 100%
  );
  color: white;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-top: 10px;
  align-content: center;
  display: absolute;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 5px 5px 10px #c0c0c0;
  /* transform: translateX(-10px); */
}

.suspended-menu:hover {
  background-image: linear-gradient(
    0deg,
    #121316 0%,
    #747585 50%,
    #000000 100%
  );
}

.suspended-menu a {
  text-decoration: none;
  color: white;
  font-size: 22px;
}

.suspendMenu {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

.suspendMenuHeader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196f3;
  color: #fff;
}
